*{
    padding: 0;
    margin: 0;
}

body{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#change-mode{
    padding: 0.5rem 1rem;
}